<tfoot>
    <tr>
        <td class="beyaz">
            <a id="new-game" asp-area="" asp-controller="Zordur" asp-action="trTR" title="Türkçe oynamak için tıklayınız">
                <img width="32px" height="32px" src="~/images/flag/tr.png" alt="Turkish" />
            </a>
        </td>
        <td class="beyaz">
            <a id="new-game" asp-area="" asp-controller="Zordur" asp-action="enEN" title="Click to play in English">
                <img width="32px" height="32px" src="~/images/flag/en.png" alt="English" />
            </a>
        </td>
        <td class="beyaz" style="filter: grayscale(100%);">
            <a>
                <img width="32px" height="32px" src="~/images/flag/fr.png" alt="French" />
            </a>
        </td>
        <td class="beyaz" style="filter: grayscale(100%);">
            <a>
                <img width="32px" height="32px" src="~/images/flag/de.png" alt="German" />
            </a>
        </td>
        <td class="beyaz" style="filter: grayscale(100%);">
            <a>
                <img width="32px" height="32px" src="~/images/flag/ru.png" alt="Russian" />
            </a>
        </td>
    </tr>
</tfoot>